<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BoraIlkProje2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BoraIlkProje2.styles.css" asp-append-version="true" />

    <style>
     #img{
            width:70px;
            heigth:70px

        }
     body{
            background-color:;
        }
     .clock{
      text-align: center;
      font-size: 20px;
      color:yellow;
      position: absolute;
      right: 10px;

    }
    .clock span{

      padding:5px;
      background-color: darkslateblue;
    }
   



    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-orange border-bottom box-shadow mb-3">
  <div class="clock">


  </div>


            <ul class="navbar-nav align-items-center">
                <li> <a class="nav-item nav-link text-dark" asp-controller="Home" asp-action="Order"><img id="img" src="~/Resimler/unique.png" /></a> </li>
                        <li ><a class="nav-item nav-link text-dark" asp-controller="Home" asp-action="Order">Ürünlerimiz</a> </li>                  
                        <li><a class="nav-item nav-link text-dark" asp-controller="Home" asp-action="SignUp">Kayıt Sayfası</a></li>
                        <li> <a class="nav-item nav-link text-dark" asp-controller="Home" asp-action="LogIn">Giriş Sayfası</a></li>

                <li><a class="nav-item nav-link text-dark" asp-controller="Home" asp-action="Bilgi">Hakkımızda</a></li>
                    </ul>


        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - BoraIlkProje2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/yukarı.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


    <script>
          const clock=document.querySelector(".clock");

    const tick=()=>{

      const now=new Date();
      const hours=now.getHours();
      const minutes=now.getMinutes();
      const seconds=now.getSeconds();

      // console.log(hours+":"+minutes+":"+seconds);
      const html=`<span>${hours}</span> :
      <span>${minutes}</span> : 
      <span>${seconds}</span> `;

      clock.innerHTML=html;



    };

    setInterval(tick,1000);


    </script>
</body>
</html>
